{% extends 'base.html' %}

{% block title %}{{ book.title }} - Book Details{% endblock %}

{% block content %}
<div class="book-details-section">
    <h2>{{ book.title }} - Book Details</h2>
    <div class="book-details">
        <img src="{{ book.image_url }}" alt="{{ book.title }}" class="book-image">
        <p>Author: {{ book.authors }}</p>
        <p>Rating: {{ book.average_rating }}</book></p>
        <p>Rating count: {{ book.ratings_count }}</p>
        <p>Language: {{ book.language_code }} </p>
        <p>Publication year: {{ book.original_publication_year }}</p>
        <!-- Add more book details as needed -->
    </div>
</div>

{% endblock %}

