<!-- explore.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="explore-section" id="explore-books">
        <h2>Explore Books</h2>
        <div class="books-container">
            {% for book in books %}
                <div class="book-card {% if book.is_bookmarked %}bookmarked{% endif %}">
                    <a href="{{ url_for('book_details', book_id=book.book_id) }}">
                        <img src="{{ book.image_url }}" alt="{{ book.title }}" class="book-image">
                        <h3>{{ book.title }}</h3>
                        <p>Author: {{ book.authors }}</p>
                    </a>
                    {% if is_user_logged_in() %}
                        <a href="{{ url_for('toggle_bookmark', book_id=book.book_id) }}" class="{% if book.is_bookmarked %}bookmarked{% else %}bookmark{% endif %}" title="{% if book.is_bookmarked %}Bookmarked{% else %}Bookmark{% endif %}">
                            {% if book.is_bookmarked %}Bookmarked{% else %}Bookmark{% endif %}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('explore', page=1) }}">First</a>
                <a href="{{ url_for('explore', page=page-1) }}">Previous</a>
            {% endif %}
        
            {% set start_page = custom_max(page - 2, 1) %}
            {% set end_page = custom_min(total_pages, start_page + 4) %}
        
            {% for num in range(start_page, end_page + 1) %}
                {% if num == page %}
                    <span class="current-page">{{ num }}</span>
                {% else %}
                    <a href="{{ url_for('explore', page=num) }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
        
            {% if end_page < total_pages - 1 %}
                <span class="ellipsis">...</span>
                <a href="{{ url_for('explore', page=total_pages) }}">{{ total_pages }}</a>
            {% elif end_page < total_pages %}
                <a href="{{ url_for('explore', page=total_pages) }}">{{ total_pages }}</a>
            {% endif %}
        
            {% if page < total_pages %}
                <a href="{{ url_for('explore', page=page+1) }}">Next</a>
                <a href="{{ url_for('explore', page=total_pages) }}">Last</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
