<!-- signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up - Library Management{% endblock %}

{% block content %}
<div class="signup-section" id="signup">
    <h2>Sign Up</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash-message {{ message[1] }}">{{ message[0] }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('signup') }}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>
        <button type="submit">Sign Up</button>
    </form>
</div>

{% endblock %}

